<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-chart-pie"></i> P!zza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item active">-->
            <!--                <a class="nav-link" href="/">Pizza <span class="sr-only">(current)</span></a>-->
            <!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/menu"><i class="fas fa-pizza-slice"></i> 下訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lookup"><i class="fas fa-search"></i> 查詢訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-edit"></i> 修改訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-address-card"></i> 關於我們</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="mailto:s19920513@email.com"><i class="fas fa-phone-square-alt"></i> 連絡我們</a>
            </li>
        </ul>


    </div>
</nav>
