<%- include('parts/header.ejs') %>
<body>
<%- include('parts/navbar.ejs') %>
<div class="container text-center">
    <style>
        .order {
            position: relative;
            text-align: center;
            cursor:pointer;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        a{
            color:white;
        }
    </style>
    <h1>P!ZZA</h1>
    <div class = 'sec'>
        <img src="/images/pizza.png " class="img-fluid" alt="img not found">
        <button class = 'btn btn-dark btn-lg centered order'><a href="/menu"><i class="fas fa-pizza-slice"></i> 訂PIZZA</a></button>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.order').hide();
        $(".sec").hover(
            function () {
                $("img").stop().animate({opacity: 0.5, zIndex: -1}, 1000, function () {
                    $('.order').show();
                })
            },
            function(){
                $("img").stop().animate({opacity: 1}, 500);
                $('.order').hide();
            }
        );
    });
</script>

<%- include('parts/foot.ejs') %>
