<%- include('parts/header.ejs') %>
<title>Pizza</title>
</head>
<body>
<%- include('parts/navbar.ejs') %>
<div class="container text-center">
    <h1>PIZZA</h1>
    <img src="/images/pizza.png " class="img-fluid" alt="img not found">
</div>
<%- include('parts/foot.ejs') %>
