<%- include('parts/header.ejs') %>
<body>
<%- include('parts/navbar.ejs') %>
<div class="container font py-3 px-3">
    <form method="post" onsubmit= " return checkForm()">
        <div class="input-group mb-3 ">
            <input type="text" class="form-control border-dark " placeholder="Order#" id='oid' name='oid' >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary border-dark" type="submit"> <i class="fas fa-search"></i> <b>Search</b></button>
            </div>
        </div>
        <p id="oidHelp" class="form-text"></p>
    </form>
    <div class="card border-dark mb-3  text-white bg-secondary" style="max-width: 30rem;">
        <div class="card-header">
            <h3>Order#: <span class='oid text-monospace'></span> <i class="fas fa-pizza-slice"></i></h3>
        </div>
        <div class="card-body  text-white bg-secondary">
            <h5 class="card-title ">訂單資料:</h5>
            <p class="card-text-weight-bold container text-monospace ">
                姓名: <span class='name'></span> <br>
                E-mail: <span class='email'></span> <br>
                行動電話: <span class='cellnumber'></span> <br>
                下單時間: <span class='odate'></span> <br>
                配料: <span class ="topping"></span>
            </p>
        </div>
    </div>
</div>
<script>
    var $oid = $("#oid");
    var btn = $(".btn");
    var $msg = $("#oidHelp")

    function checkForm(){
        $msg.text('');
        $msg.css('color','white');
        btn.hide();
        $(".topping").text('');
        var isPass = true;

        if (!/^\d{5}$/.test($oid.val())) {
            isPass = false;
            $msg.text('Order#格式不符，必須為五位數字');
            $msg.css('color','red');
            btn.show();
            return false;
        }
        if (isPass) {
            $.post('/lookup', $(document.forms[0]).serialize(), function (data) {
                console.log(data);
                if (data.success) {
                    $(".oid").text((data.body.oid));
                    $(".name").text((data.body.name));
                    $(".cellnumber").text((data.body.cellnumber));
                    $(".odate").text((data.body.odate));
                    $(".email").text((data.body.email));
                    //$(".topping").text((data.body.meat)+','+(data.body.veggie));
                    parseTop($(".topping"),data.body.meat, data.body.veggie);
                }
            },'json');
        }
        btn.show();
        return false;
    };
    function parseTop($top, meat, veggie){
        mObj = {'h':'火腿', 'p':'義式香腸'};
        vObj = {'o':'洋蔥', 'g':'青椒', 'r':'甜椒','p':'鳳梨', 'm':'蘑菇'}
        meatList = meat.split('');
        vegList = veggie.split('');
        for(var m in meatList){
            if(mObj[meatList[m]]!= null){
                $top.append(mObj[meatList[m]]+'、');
            }
        }
        for(var v in vegList){
            if(vObj[vegList[v]]!= null){
                $top.append(vObj[vegList[v]]+'、');
            }
        }
        $top.text( $top.text().slice(0,-1));
    }
</script>
<%- include('parts/foot.ejs') %>
