<%- include('parts/header.ejs') %>
<body>
<%- include('parts/navbar.ejs') %>
<div class="container font py-3 px-3">
    <style>
        .active{

            background-color:  #868e96 !important;
        }
    </style>

    <ul class="nav nav-pills ">
        <li class="nav-item ">
            <a class="nav-link active"  data-toggle="pill" id = 'o'>Order#</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="pill" id = 'c'>電話</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  data-toggle="pill" id = 'e'>E-mail</a>
        </li>
    </ul>

    <form method="post" onsubmit= " return checkForm()">
        <div class="input-group mb-3 ">
            <input type="text" class="form-control border-dark " id='oid' name='oid' placeholder="請輸入Order#查詢">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary border-dark" type="submit"> <i class="fas fa-search"></i> <b>Search</b></button>
            </div>
        </div>
        <p id="oidHelp" class="form-text"></p>
    </form>
    <div class="card border-dark mb-3  text-white bg-secondary" style="max-width: 30rem;">
        <div class="card-header">
            <h3>訂單資料 <i class="fas fa-pizza-slice"></i></h3>
        </div>
        <div class="card-body  text-white bg-secondary">
            <h5 class="card-title  ">Order#: <span class='text-monospace oid'></span> </h5>
            <p class="card-text-weight-bold container text-monospace ">
                姓名: <span class='name'></span> <br>
                E-mail: <span class='email'></span> <br>
                行動電話: <span class='cellphone'></span> <br>
                下單時間: <span class='odate'></span> <br>
                配料: <span class ="topping"></span>
            </p>
        </div>
    </div>
</div>
<script>
    var $oid = $("#oid");
    var btn = $(".btn");
    var $msg = $("#oidHelp");
    var method = 'oid';

    $(document).ready(function() {
        $("li>a").click(function () {
            switch(this.id){
                case 'o':
                    $("#oid").attr('placeholder', '請輸入Order#查詢');
                    method= 'oid';
                    break;
                case 'c':
                    $("#oid").attr('placeholder', '請輸入電話查詢');
                    method= 'cellphone';
                    break;
                case 'e':
                    $("#oid").attr('placeholder', '請輸入E-mail查詢');
                    method= 'email';
                    break;
            }
        });
    });
    function checkForm(){
        $msg.text('');
        $msg.css('color','white');
        btn.hide();
        $(".topping").text('');
        var isPass = true;

        if (method == 'oid' && !/^\d{5}$/.test($oid.val())) {
            isPass = false;
            $msg.text('Order#格式不符，必須為五位數字');
            $msg.css('color','red');
            btn.show();
            return false;
        }
        if (isPass) {
            var body = $(document.forms[0]).serializeArray();
            body.push({name:'method',value: method});
            $.post('/lookup', body, function (data) {
                console.log(data);
                if (data.success) {
                    $(".oid").text((data.body.oid));
                    $(".name").text((data.body.name));
                    $(".cellphone").text((data.body.cellphone));
                    $(".odate").text((data.body.odate));
                    $(".email").text((data.body.email));
                    //$(".topping").text((data.body.meat)+','+(data.body.veggie));
                    parseTop($(".topping"),data.body.meat, data.body.veggie);
                }
                else{
                    if(data.info = 'Fail'){
                        $msg.text('查詢的訂單不存在');
                        $msg.css('color','red');
                    }
                }
            },'json');
        }
        btn.show();
        return false;
    };
    function parseTop($top, meat, veggie){
        mObj = {'h':'火腿', 'p':'義式香腸'};
        vObj = {'o':'洋蔥', 'g':'青椒', 'r':'甜椒','p':'鳳梨', 'm':'蘑菇'}
        meatList = meat.split('');
        vegList = veggie.split('');
        for(var m in meatList){
            if(mObj[meatList[m]]!= null){
                $top.append(mObj[meatList[m]]+'、');
            }
        }
        for(var v in vegList){
            if(vObj[vegList[v]]!= null){
                $top.append(vObj[vegList[v]]+'、');
            }
        }
        $top.text( $top.text().slice(0,-1));
    }

</script>
<%- include('parts/foot.ejs') %>
