<%- include('parts/header.ejs') %>

<body>

<%- include('parts/navbar.ejs') %>

<div class="container px-lg-3">
    <div class="row mx-lg-n5 ">
        <div class="col py-3 px-lg-5">
            <form>
                <div class="form-group row">
                    <label class=" col-sm col-form-label"><b>基本資料</b></label>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">姓名:</label>
                    <div class="col-sm-8">
                        <input type=text class="form-control" id="name" placeholder="姓名" name = 'name' required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cellNumber" class="col-sm-2 col-form-label">電話:</label>
                    <div class="col-sm-8">
                        <input type=text class="form-control" id="cellNumber" placeholder="電話號碼" name = 'cellNumber' required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Email" name = 'email' required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class=" col-sm col-form-label"><b>配料</b></label>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0 topping">肉類</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input topping" type="checkbox" id="ham" name = 'ham'>
                                <label class="form-check-label" for="ham">
                                    火腿
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input topping" type="checkbox" id="pepp">
                                <label class="form-check-label" for="pepp">
                                    意識香腸
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0 topping">蔬菜類</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input topping" type="checkbox" id="onion">
                                <label class="form-check-label" for="onion">
                                    洋蔥
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input topping" type="checkbox" id="greenP">
                                <label class="form-check-label" for="greenP">
                                    青椒
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input topping" type="checkbox" id="redP">
                                <label class="form-check-label" for="redP">
                                    甜椒
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input topping" type="checkbox" id="pin">
                                <label class="form-check-label" for="pin">
                                    鳳梨
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">送出訂單</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col py-3 px-lg-5">
            <img src="/images/crust.png" id="crust" alt="img not found">
            <img src="/images/pepp.png" class="topping pepp" alt="img not found">
            <img src="/images/greenP.png" class="topping greenP" alt="img not found">
            <img src="/images/onion.png" class="topping onion" alt="img not found">
            <img src="/images/redP.png" class = "topping redP" alt="img not found">
            <img src="/images/pin.png" class="topping pin" alt="img not found">
            <img src="/images/ham.png" class="topping ham" alt="img not found">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("img.topping").hide();
        let z = 1;
        $(".topping").change(function () {
            var ischecked= $(this).is(':checked');
            if(ischecked){
                let pClass = $(this).attr('id');
                drop("img.topping."+pClass);
            }
            else{
                let pClass = $(this).attr('id');
                remove("img.topping."+pClass);
            }
        });

        function drop(ele) {
            $(ele).show();
            $(ele).css('z-index', z++);
            $(ele).animate({
                top: "30%",
                height: "500px",
                right: "0%"
            }, 1000);

        }

        function remove(ele) {
            $(ele).hide();
            $(ele).css({
                right: 0,
                top: 0,
                height: "250px",
            })
        }
    });
</script>

<%- include('parts/foot.ejs') %>
