<%- include('parts/header.ejs') %>

<body>
<%- include('parts/navbar.ejs') %>
<div class="container ">
    <div class="row ">
        <div class="col py-3 px-3 ">
            <form class="rounded " method="post">
                <div class='card text-white bg-dark border-secondary'>
                    <h6 class="card-header text-left "><b>基本資料</b></h6>
                    <div class="card-body">
                        <div class="card-text form-group row pl-5">
                            <label for="name" class="col-lg-2 col-form-label ">姓名:</label>
                            <div class="col-lg-8">
                                <input type=text class="form-control" id="name" placeholder="姓名" name='name' required>
                            </div>
                        </div>
                        <div class="form-group row pl-5">
                            <label for="cellphone" class="col-lg-2 col-form-label ">電話:</label>
                            <div class="col-lg-8">
                                <input type=text class="form-control" id="cellphone" placeholder="行動電話"
                                       name='cellphone'>
                            </div>
                        </div>
                        <div class="form-group row pl-5">
                            <label for="email" class="col-lg-2 col-form-label ">Email:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="email" placeholder="Email" name='email'
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card text-white bg-dark border-secondary'>
                    <h6 class="card-header text-left"><b>特製比薩</b></h6>
                    <div class="card-body text-center">
                        <div class="form-group row ">
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input premade" type="checkbox" id="haw" name="haw">
                                <label class="form-check-label" for="haw">夏威夷</label>
                            </div>
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input premade" type="checkbox" id="ita" name="ita">
                                <label class="form-check-label" for="ita">義式</label>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input premade" type="checkbox" id="veg" name="veg">
                                <label class="form-check-label" for="veg">素食</label>
                            </div>
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input premade" type="checkbox" id="clu" name="clu">
                                <label class="form-check-label" for="clu">總匯</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card text-white bg-dark border-secondary'>
                    <h6 class="card-header text-left"><b>客制配料</b></h6>
                    <div class="card-body text-center">
                        <!--                        <h6 class="card-title font-weight-bold">肉類</h6>-->
                        <div class="form-group row ">
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="ham" name="ham">
                                <label class="form-check-label" for="ham">火腿</label>
                            </div>
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="pepp" name="pepp">
                                <label class="form-check-label" for="pepp">義式香腸</label>
                            </div>
                        </div>
                        <!--                        <h6 class="card-title font-weight-bold">蔬菜類</h6>-->
                        <div class="form-group row ">
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="onion" name="onion">
                                <label class="form-check-label" for="onion">洋蔥</label>
                            </div>
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="greenP" name="greenP">
                                <label class="form-check-label" for="greenP">青椒</label>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="redP" name="redP">
                                <label class="form-check-label" for=redP>甜椒</label>
                            </div>
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="pin" name="pin">
                                <label class="form-check-label" for="pin">鳳梨</label>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-sm-6 form-check">
                                <input class="form-check-input topping" type="checkbox" id="mush" name="mush">
                                <label class="form-check-label" for="mush">蘑菇</label>
                            </div>
                        </div>
                    </div>
                    <div class="form card-footer text-right">
                        <div class="col ">
                            <button type="submit" class="btn btn-secondary btn-outline-light mr-2"
                                    onclick="checkForm()">送出訂單
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline-light reset">清除訂單</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col py-3 px-3 ">
            <img src="/realpizza/crust2.png" id="crust" alt="img not found">
            <img src="/realpizza/pepp.png" class="topping pepp" alt="img not found">
            <img src="/realpizza/greenP.png" class="topping greenP" alt="img not found">
            <img src="/realpizza/onion.png" class="topping onion seeThrough" alt="img not found">
            <img src="/realpizza/redP.png" class="topping redP " alt="img not found">
            <img src="/realpizza/pin.png" class="topping pin seeThrough" alt="img not found">
            <img src="/realpizza/ham.png" class="topping ham" alt="img not found">
            <img src="/realpizza/mush.png" class="topping mush" alt="img not found">
            <!--            <img src="/images/onion.png" class="topping onion" alt="img not found">-->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("img.topping").hide();
        let z = 1;
        $('.premade').change(function () {
            remove("img.topping");
            $('input.topping').prop('checked', false);
            $('.premade').prop('checked', false);
            $(this).prop('checked', true);
            var ischecked = $(this).is(':checked');
            var haw = ['ham', 'pin'];
            var veg = ['onion', 'greenP', 'redP', 'mush'];
            var ita = ['pepp'];
            var clu = ['pepp', 'onion', 'greenP', 'redP', 'mush'];
            if (ischecked) {
                $('input.topping').attr("disabled", true);
                $('input.topping').next().css("color", "white");
                let setting = null;
                switch (this.id) {
                    case 'haw':
                        setting = haw;
                        break;
                    case 'veg':
                        setting = veg;
                        break;
                    case 'ita':
                        setting = ita;
                        break;
                    case 'clu':
                        setting = clu;
                        break;
                }
                for (let item of setting) {
                    $('#' + item).prop('checked', true);
                    drop($('img.topping.' + item));
                }
            }
            // else{
            //     $('input.topping').removeAttr("disabled");
            //     $('#'+haw[0]).prop('checked', false);
            // }
        });

        $(".topping").change(function () {
            $('.premade').attr("disabled", true);
            $('.premade').next().css("color", "white");
            var ischecked = $(this).is(':checked');
            if (ischecked) {
                let pClass = $(this).attr('id');
                drop("img.topping." + pClass);
            } else {
                let pClass = $(this).attr('id');
                remove("img.topping." + pClass);
            }
        });

        $('.reset').click(function () {
            remove("img.topping");
            $('input:checkbox').prop('checked', false);
            $('input.topping').removeAttr("disabled");
            $('input.premade').removeAttr("disabled");
        });

        function drop(ele) {
            $(ele).show();
            $(ele).css('z-index', z++);
            $(ele).animate({
                top: "30%",
                height: "500px",
                right: "0%"
            }, 1000);
        }

        function remove(ele) {
            $(ele).hide();
            $(ele).css({
                right: 0,
                top: 0,
                height: "250px",
            })
        }
    });

    function checkForm() {
        var ischecked = $(".premade").is(':checked');
        if (ischecked) {
            $('input.topping').removeAttr("disabled");
        }
    }
</script>

<%- include('parts/foot.ejs') %>
